@model Ecommerce.ViewModels.IndexVM

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/Product/Index.css" type="text/css"/>

<div class="IndexPage_MainDiv">
    
    <div class="promo_wrapper">
        <div class="center">
            <div class="promo_wrapper_info">
                <h1 id="promo_wrapper_info_Title">All Natural Skin Remedies.</h1>
                <p class="promo_wrapper_info_p">A healthier you from the inside out. We’ve sourced the cleanest ingredients 
                to create a line of clean skin care treatments that leave you feeling your best</p>
                <div class="promo_wrapper_shopProducts_Button">
                    <a>
                        Shop products
                    </a>
                </div>
            </div>
            <div class="promo_wrapper_Images">
                
            </div>
        </div>
    </div>

    <div class="mainpage_info">
        <p>Most Popular</p>
        <p>Shop all products</p>
    </div>

    @for(int i = 0; i < 4; i++){
        <div class="Products center">
            <div class="Products_Product">
                <div class="Products_Product_Image" style="background-image: url('@Model.Products?.ElementAt(i).MyImages?.ElementAt(0).ImageURL');">
                </div>
                <div class="Products_Product_Info">
                    <h3>@Model.Products?.ElementAt(i).Name</h3>
                    <p>@Model.Products?.ElementAt(i).Category</p>
                    <div class="Products_Product_Info_Price_Info">
                        <p id="CurrentPrice">$@Model.Products?.ElementAt(i).CurrentPrice</p>
                        <s>$@Model.Products?.ElementAt(i).OldPrice</s>
                    </div>
                </div>
            </div>
        </div>
    }


    <div class="SecondPromo_Wrapper">
        <div class="SecondPromo_Wrapper_Info">
            <div class="SecondPromo_Wrapper_Info_Content">
                <h1>Clean products that deliver better solutions</h1>
                <p>A healthier you from the inside out. We’ve sourced the cleanest ingredients 
                to create a line of clean skin care treatments that leave you feeling your best
                </p>
                <div class="SecondPromo_Wrapper_Info_Content_Button">
                <a>
                        Shop products
                </a>
                </div>
            </div>
        </div>
        <div class="SecondPromo_Wrapper_Image">
                
        </div>
    </div>

    <div class="mainpage_info">
        <p>Most Popular</p>
        <p>Shop all products</p>
    </div>

    @for(int i = 4; i < Model.Products?.Count(); i++){
        <div class="Products center">
            <div class="Products_Product">
                <div class="Products_Product_Image" style="background-image: url('@Model.Products?.ElementAt(i).MyImages?.ElementAt(0).ImageURL');">
                </div>
                <div class="Products_Product_Info">
                    <h3>@Model.Products?.ElementAt(i).Name</h3>
                    <p>@Model.Products?.ElementAt(i).Category</p>
                    <div class="Products_Product_Info_Price_Info">
                        <p id="CurrentPrice">$@Model.Products?.ElementAt(i).CurrentPrice</p>
                        <s>$@Model.Products?.ElementAt(i).OldPrice</s>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

