@model Ecommerce.ViewModels.IndexVM

@{
    ViewData["Title"] = "Index";
}

<div style="display:flex;flex-wrap:wrap;width:100%;height:100%;">

    @foreach(var product in Model.Products)
    {
        <div style="display:flex;justify-content:center;align-items:start;border:solid;width:400px;height:400px;flex-wrap:wrap;">
            <img src="@product.MyImages?.ElementAt(0).ImageURL" style="width:70%;height:70%;"/>
            <h4 style="width:100%;height:2%;">
                @product.Category
            </h4>
            <h4 style="width:100%;height:5%;">
                @product.Name
            </h4>
            <h4 style="color:green;">@product.CurrentPrice $</h4>
            <a style="width:100%;height:10%;" asp-action="ProductPage" asp-route-productId="@product.Id" class="btn btn-success">Visit</a>
        </div>
    }

</div>

