@model Ecommerce.ViewModels.IndexVM

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/Product/Index.css" type="text/css"/>

<div class="IndexPage_MainDiv">
    
    <div class="promo_wrapper">
        <div class="promo_wrapper_info">
            <h1 id="promo_wrapper_info_Title">Increased productivity</h1>
            <p class="promo_wrapper_info_p">Using a keyboard can significantly increase your productivity, 
                whether you're typing a report for work, writing an email, or taking notes. </p>
            <div class="promo_wrapper_shopProducts_Button">
                <a>
                    Shop products
                </a>
            </div>
        </div>
        <div class="promo_wrapper_Images">
        </div>
    </div>

    <div class="mainpage_info1">
        <h1>Solution for all technical requirement</h1>
        <p>Explorer our inovative tech products</p>
    </div>

    <div class="mainpage_info2 center">
        <p>Most Popular</p>
        <p>Shop all products</p>
    </div>

    <div class="Products center">
        @for(int i = 0; i < 4; i++){
            <a asp-controller="Product" asp-action="ProductPage" asp-route-productId="@Model.Products?.ElementAt(i).Id">
                <div class="Products_Product">
                    <div class="Products_Product_Image" style="background-image: url('@Model.Products?.ElementAt(i).MyImages?.ElementAt(0).ImageURL');">
                    </div>
                    <div class="Products_Product_Info">
                        <h3>@Model.Products?.ElementAt(i).Name</h3>
                        <p>@Model.Products?.ElementAt(i).Category</p>
                        <div class="Products_Product_Info_Price_Info">
                            <p id="CurrentPrice">$@Model.Products?.ElementAt(i).CurrentPrice</p>
                            <s>$@Model.Products?.ElementAt(i).OldPrice</s>
                        </div>
                    </div>
                    <div class="AddToCartBtn">
                        <i class="bi bi-cart-plus"></i>    
                        Add to cart
                    </div>
                </div>
            </a>
        }
    </div>


    <div class="SecondPromo_Wrapper">
        <div class="SecondPromo_Wrapper_Info">
            <div class="SecondPromo_Wrapper_Info_Content">
                <h1>Clean products that deliver better solutions</h1>
                <p>Using a speaker can greatly enhance your language learning experience by exposing you to authentic 
                    pronunciation and intonation
                </p>
                <div class="SecondPromo_Wrapper_Info_Content_Button">
                <a>
                        Shop products
                </a>
                </div>
            </div>
        </div>
        <div class="SecondPromo_Wrapper_Image">
                
        </div>
    </div>

    <div class="mainpage_info2 center">
        <p>Most Popular</p>
        <p>Shop all products</p>
    </div>

    <div class="Products center">
        @for(int i = 4; i < Model.Products?.Count(); i++){
            <a asp-controller="Product" asp-action="ProductPage" asp-route-productId="@Model.Products?.ElementAt(i).Id">
                <div class="Products_Product">
                    <div class="Products_Product_Image" style="background-image: url('@Model.Products?.ElementAt(i).MyImages?.ElementAt(0).ImageURL');">
                    </div>
                    <div class="Products_Product_Info">
                        <h3>@Model.Products?.ElementAt(i).Name</h3>
                        <p>@Model.Products?.ElementAt(i).Category</p>
                        <div class="Products_Product_Info_Price_Info">
                            <p id="CurrentPrice">$@Model.Products?.ElementAt(i).CurrentPrice</p>
                            <s>$@Model.Products?.ElementAt(i).OldPrice</s>
                        </div>
                    </div>
                    <div class="AddToCartBtn">
                        <i class="bi bi-cart-plus"></i>    
                        Add to cart
                    </div>
                </div>
            </a>
        }
    </div>

    <div id="ThirdPromo_Wrapper" class="SecondPromo_Wrapper">
      <div class="SecondPromo_Wrapper_Image">
          
      </div>
      <div class="SecondPromo_Wrapper_Info">
        <div class="SecondPromo_Wrapper_Info_Content">
            <h1>Professional appearance</h1>
            <p>A business suitcase is designed to keep your work-related items organized and easily accessible, 
                making it a practical and stylish accessory for professionals. 
            </p>
            <div class="SecondPromo_Wrapper_Info_Content_Button">
              <a>
                    Shop products
              </a>
            </div>
        </div>
      </div>
    </div>

</div>

