@model ProductPageVM

@{
    ViewData["Title"] = "ProductPage";
}



<h1>ProductPage</h1>

<div>
    <h1 id="ProductIdHeaderId" style="display:none;">@Model.Product.Id</h1>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ShippingInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ShippingInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.OldPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.OldPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.CurrentPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.CurrentPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.StockQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.StockQuantity)
        </dd>
    </dl>
    
    <form id="MainFormId" method="post">
        <label asp-for="SelectedQuantity">Quantity</label>
        <input id="QuantityIFId" asp-for="SelectedQuantity" />
        <span class="text text-danger" id="QuantityIFSpanId" asp-validation-for="SelectedQuantity"></span>
        <button id="RealBuyButtonId" asp-action="ProductPage" asp-route-Caller="Buy" type="submit" style="display:none;"></button>
        <button id="RealAddToCartButtonId" asp-action="ProductPage" asp-route-Caller="AddToCart" type="submit" style="display:none;"></button>
    </form>

    <div style="display:flex;justify-content:start;align-content:start;flex-wrap:wrap;border:solid black 5px;">
        
        @if(Model.Product.MyImages != null){
            @foreach(var image in Model.Product.MyImages)
            {
                <img src="@image.ImageURL" style="width:200px;height:200px;"/>
            }
        }
        else
        {
            <span class="text text-danger">This product has no images</span>
        }
        
    </div>


    <div>
        <a id="BuyButtonId" class="btn btn-success">Buy</a>
        <a id="AddToCartId" class="btn btn-warning">Add To Cart</a>
    </div>

</div>

@section Scripts{
    <script src="~/js/ProductPage.js" ></script>
    <partial name="_ValidationScriptsPartial" />
}
