@model ProductPageVM

@{
    ViewData["Title"] = "ProductPage";

    var rand = new Random();
}

<link rel="stylesheet" href="~/css/Product/ProductPage.css" type="text/css"/>

@if(Model.MessageFromPayment != null){
    <div>
        <span class="text text-danger">@Model.MessageFromPayment</span>
    </div>
}

<div class="ProductPage_MainDiv">
        <div class="ProductPage_MainDiv_Product">
            
            <div class="ProductPage_MainDiv_Product_LeftPart">

                <div class="ProductPage_MainDiv_Product_LeftPart_MainImage" 
                    style="background-image:url('@Model?.Product?.MyImages?.ElementAt(0).ImageURL')">
                    <i id="LeftArrow" class="bi bi-arrow-left"></i>
                    <i id="RightArrow" class="bi bi-arrow-right"></i>
                </div>
                <div class="ProductPage_MainDiv_Product_LeftPart_OtherImages">
                    @for(int i = 1; i < Model?.Product?.MyImages?.Count(); i++)
                    {
                     <div class="ProductPage_MainDiv_Product_LeftPart_OtherImages_Image" 
                         style="background-image:url('@Model?.Product?.MyImages?.ElementAt(i).ImageURL')">
                        
                     </div>   
                    }
                </div>

            </div>
            <div class="ProductPage_MainDiv_Product_RightPart">
                
                <p class="DiscountP">@rand.Next(10,40)% off</p>
                <h1>@Model?.Product?.Name</h1>
                <div class="ProductPage_MainDiv_Product_RightPart_RateStars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                    <span>@rand.Next(10,200) revievs</span>
                </div>
                <div class="ProductPage_MainDiv_Product_RightPart_Prices">
                    <p class="NewPricePar">$@Model?.Product?.CurrentPrice</p>
                    <p class="OldPricePar">
                        <s>$@Model?.Product?.OldPrice</s>
                    </p>
                </div>
                <p>@Model?.Product?.Description</p>
                <div class="ProductPage_MainDiv_Product_RightPart_Details">
                    <span>Details</span>
                    <i class="bi bi-plus"></i>
                </div>
                <div class="ProductPage_MainDiv_Product_RightPart_ShippingAndHandling">
                    <span>Shipping & Handling</span>
                    <i class="bi bi-plus"></i>
                </div>

                <h3 id="QuantityHeader">Quantity</h3>
                <div class="ProductPage_MainDiv_Product_RightPart_Payment">
                    <div class="ProductPage_MainDiv_Product_RightPart_Payment_Quantity">
                        <div id="QuantityMinus">
                            <i class="bi bi-dash-lg"></i>
                        </div>
                        <div id="QuantityValue">2</div>
                        <div id="QuantityPlus">
                            <i class="bi bi-plus-lg"></i>
                        </div>
                    </div>
                    <div class="ProductPage_MainDiv_Product_RightPart_Payment_Buttons">
                        <div class="BuyBtn"> 
                            Buy
                        </div>
                        <div class="AddToCartBtn">
                            <i class="bi bi-cart-plus"></i>    
                            Add to cart
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="RelatedProducts">

        </div>
</div>

<!--________________________________________________________________________________________________-->

<div style="display:none;" >
    <h1 id="ProductIdHeaderId" style="display:none;">@Model?.Product?.Id</h1>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ShippingInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ShippingInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.OldPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.OldPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.CurrentPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.CurrentPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.StockQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.StockQuantity)
        </dd>
    </dl>
    
    <form id="MainFormId" method="post">
        <label asp-for="SelectedQuantity">Quantity</label>
        <input id="QuantityIFId" asp-for="SelectedQuantity" />
        <span class="text text-danger" id="QuantityIFSpanId"></span>
        <button id="RealBuyButtonId" asp-action="ProductPage" asp-route-Caller="Buy" asp-route-ProductId="@Model.ProductId" type="submit" style="display:none;"></button>
        <button id="RealAddToCartButtonId" asp-action="ProductPage" asp-route-Caller="AddToCart" asp-route-ProductId="@Model.ProductId" type="submit" style="display:none;"></button>
    </form>

    <div style="display:flex;justify-content:start;align-content:start;flex-wrap:wrap;border:solid black 5px;">
        
        @if(Model.Product.MyImages != null){
            @foreach(var image in Model.Product.MyImages)
            {
                <img src="@image.ImageURL" style="width:200px;height:200px;"/>
            }
        }
        else
        {
            <span class="text text-danger">This product has no images</span>
        }
        
    </div>


    <div>
        <a id="BuyButtonId" class="btn btn-success">Buy</a>
        <a id="AddToCartId" class="btn btn-warning">Add To Cart</a>
    </div>

</div>

@section Scripts{
    <script src="~/js/ProductPage.js" ></script>
    <partial name="_ValidationScriptsPartial" />
}
